body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}